nav li{
    display: inline;
    list-style: none;
    margin: 5px;
    /* color: black; */
}
nav li a{
    text-decoration: none;
    /* color: black; */
    color: black;
}
nav li:hover{
    background-color: lightslategray;
}